*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

body{  
    background-color: #DCD9D4;
    background-image: url(img/portada.jpg);
    background-blend-mode: soft-light,screen;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.5%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

.titulo_menu{
    color: black;
    font-size: 45px;
}

.titulo_menu:hover{
    color: blanchedalmond;
    font-size: 45px;
}

nav ul{
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 0 20px;
    padding: 0px 20px;
}
nav li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}

.menu a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.menu a:hover{
    color: blanchedalmond;
    font-size: 25px;
}

.carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
}

#imagenes{
    width: 1080px;
    max-width: 80%;
    height: 600px;
    background-size: cover;
    background-position: center;
}
    
.button{
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute; 
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align:center;
    border: 0;
    cursor: pointer;
}
.button:hover{
    background-color: #918f86;
}

/*#prev,#next{
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute; 
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align:center;
    border: 0;
    cursor: pointer;
}*/

#prev:focus{
    outline: 0;
}
#next:focus{
    outline: 0;
}
#prev svg{
    width: 12px;
    height: 100%;
}
#next svg{
    width: 12px;
    height: 100%;
}
#prev{
    left: 60px; 
}
#next{
    right: 60px;
}

.Inicio_newsletter {
    background-color:#918f86;
    padding: 20px;
    margin: 30px;
    margin-bottom: 10%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 2%;
}

.Inicio_newsletter h2 {
    text-align: center;
}
.Inicio_newsletter #botn{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.Inicio_newsletter #botn a{
    color: black;
    text-decoration: none;
}
.Inicio_newsletter #botn a:hover{
    color: blanchedalmond;
    font-size: 30px;
}

.newsletter {
    background-color:#918f86;
    padding: 20px;
    margin: 30px;
    margin-bottom: 10%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 2%;
}

.newsletter h2 {
    text-align: center;
}



#newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

form .error{
    position: relative;
    display: block;
    width: 100%;
}

.error::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
}

#mensajes{
    display: block;
    text-align: center;
    font-weight: bold;
    gap: 10px;
    padding: 20px;
    align-items: center;
}


/*#newsletter-salida {
    width: 700px;
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 24%;
}*/

.form button{
    padding: 5px 10px;
    font-size: 20px;
    align-self: center;
    border-radius: 8px;
    margin-top: 8%;
    border: none;
}
.form button:hover{
    background-color:slategrey;
}

form .grupo label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 6%;
    
}

form .grupo input{
    padding: 5px 10px;
    text-align: left;
    margin-bottom: 6%;
    border-radius: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 20px;
    padding-top: 2%;
}

.fNews {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 20px;
    padding-top: 2%;
    margin-bottom: 4px;
}

footer .contact-info, footer .social-media {
    flex: 1;
}
.soci h3{
    padding-bottom: 2%;
}
footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.cafeSeccion{ 
    align-items: center;
    display: inline-block;
    padding: 0px 20px;
    padding-top: 3.5%;
    padding-left: 34%;
    /*padding-right: 5%;*/
    font-weight: bold;
}

.cafeSeccion a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.cafeSeccion a:hover{
    color: blanchedalmond;
    font-size: 20px;
}

.cafeSeccion #historia{
    color: black;
    background: hsl(30, 1%, 64%);
    width: 107px;
    display: inline-flexbox;
    padding: 6px 2px;
    text-align: center;
    border-radius: 5px;
}
.cafeSeccion #granos{
    color: black;
    background: hsl(30, 1%, 64%);
    width: 90px;
    display: inline-flexbox;
    padding: 6px 2px;
    text-align: center;
    border-radius: 5px;
}
.cafeSeccion #cafe{
    color: black;
    background: hsl(30, 1%, 64%);
    width: 118px;
    display: inline-flexbox;;
    padding: 6px 2px;
    text-align: center;
    border-radius: 5px;
}

.tituloHistoria{
    text-align: center;
    color: black;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 0%;
    display: block;
}

.tituloGranos{
    text-align: center;
    color: black;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 0%;
}

.tituloCafetera{
    text-align: center;
    color: black;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 0%;
}

.contenido{
    width: 99%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenido1{
    width: 99%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenido img{
    padding-left: 2%;
    width: 400px;
    height: 400px;
}
.contenido1 img{
    padding-left: 2%;
    width: 350px;
    height: 350px;
}

.contenido div{
    width: 55%;
}
.contenido1 div{
    width: 50%;
}

.contenido h2{
    font-weight: 300;
    text-align:left ;
    line-height: 30px;
    padding-top: 2%;
    padding-left: 3%;
}
.contenido1 h2{
    font-weight: 300;
    text-align:left ;
    line-height: 30px;
    padding-top: 2%;
    padding-bottom: 0;
    padding-left: 3%;
}

#espresso{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 40%;
    padding-right: 20%;
    padding-bottom: 10%;
    padding-top: 0;
}
